[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
labjack-ljm = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
telnetlib-313-and-up = "*"

[dev-packages]

[requires]
python_version = "3.13"
